# Familia Apply![](https://www.r-project.org/Rlogo.png)

Familia de funciones que realizan una determinada operación a todos los elementos de un  vector o una lista. La manera en que se ejecuta dicha operación varía dependiendo de la  función que utilicemos:
+ `apply`
+ `lapply`
+ `sapply`
+ `vapply`

## `apply(X, MARGIN, FUN, …)`

La función `apply` toma la lista o vector X y aplica a todos sus elementos la función FUN por sus márgenes (MARGIN).

¿Qué quiere decir que aplica la función a los márgenes?
+ Por filas (1)
+ Por columnas (2)
+ Por filas y columnas (1:2)

In [6]:
###################################
# apply                           #
###################################

m <- matrix(c(1:10, 11:20), nrow = 10, ncol = 2)
m

      [,1] [,2]
 [1,]  1   11
 [2,]  2   12
 [3,]  3   13
 [4,]  4   14
 [5,]  5   15
 [6,]  6   16
 [7,]  7   17
 [8,]  8   18
 [9,]  9   19
[10,] 10   20

In [5]:
apply(m, 1, mean) # Por filas

 [1]  6  7  8  9 10 11 12 13 14 15

In [3]:
apply(m, 2, mean) # Por columnas

[1]  5.5 15.5

In [13]:
apply(m, 1:2, function(x) x/2) # Por filas y por columnas m / 2

      [,1] [,2]
 [1,] 0.5   5.5
 [2,] 1.0   6.0
 [3,] 1.5   6.5
 [4,] 2.0   7.0
 [5,] 2.5   7.5
 [6,] 3.0   8.0
 [7,] 3.5   8.5
 [8,] 4.0   9.0
 [9,] 4.5   9.5
[10,] 5.0  10.0

## `lapply(X, FUN, …)`

La función `lapply` toma la lista o vector X y aplica a todos sus elementos la función FUN.

Es posible pasar argumentos (…) a la función FUN en la llamada a `lapply`.

El retorno de la función es una **lista** con el resultado de la ejecución de la función a cada  elemento.

Ya que el resultado es una lista puede devolver objetos de diferente clase.

Si queremos convertir la lista de retorno en vector podemos utilizar `unlist(l)`.

In [14]:
###################################
# lapply                          #
###################################

# lapply
nyc <- list(pop = 8405837,
            boroughs = c("Manhattan", "Bronx", "Brooklyn",
                         "Queens", "Staten Island"),
            capital = FALSE)

In [15]:
# Usando bucle
for (info in nyc) {
  print(class(info))
}

[1] "numeric"
[1] "character"
[1] "logical"

In [16]:
# Usando lapply
lapply(nyc, class)

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

In [18]:
cities <- c("New York", "Paris", "London", "Tokyo", 
            "Rio de Janeiro", "Cape Town")

In [17]:
num_chars <- c()
for (i in 1:length(cities)) {
  num_chars[i] <- nchar(cities[i])
}

In [19]:
num_chars

[1]  8  5  6  5 14  9

In [20]:
lapply(cities, nchar) #Ojo, siempre devuelve una lista

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

In [21]:
unlist(lapply(cities, nchar)) #Con unlist, pasamos a vector

[1]  8  5  6  5 14  9

In [22]:
# Con funciones propias
oil_prices <- list(2.37, 2.49, 2.18, 2.22, 2.47, 2.32)
triple <- function(x) {
  x * 3
}
unlist(lapply(oil_prices, triple))

[1] 7.11 7.47 6.54 6.66 7.41 6.96

In [23]:
# Con funciones propias pasando argumentos
oil_prices <- list(2.37, 2.49, 2.18, 2.22, 2.47, 2.32)
multiply <- function(x, factor) {
  x * factor
}
unlist(lapply(oil_prices, multiply, factor = 3))

[1] 7.11 7.47 6.54 6.66 7.41 6.96

## `sapply(X, FUN, …)`

El funcionamiento de `sapply` es análogo a `lapply`.

En este caso el retorno es un **vector o matriz**, si fuera posible. Evitándonos utilizar `unlist(l)`.

In [25]:
###################################
# sapply                          #
###################################

# sapply
cities <- c("New York", "Paris", "London", "Tokyo", 
            "Rio de Janeiro", "Cape Town")

sapply(cities, nchar) # Obtenemos un vector

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

In [26]:
sapply(cities, nchar, USE.NAMES = FALSE)

[1]  8  5  6  5 14  9

In [27]:
first_and_last <- function(name) {
  name <- gsub(" ", "", name)
  letters <- strsplit(name, split = "")[[1]]
  c(first = min(letters), last = max(letters))
}

In [28]:
sapply(cities, first_and_last) # Obtenemos una matriz

      New York Paris London Tokyo Rio de Janeiro Cape Town
first e        a     d      k     a              a
last  Y        s     o      y     R              w

**Trap**: el retorno de sapply puede ser inesperado, dependiendo de si se puede simplificar el resultado o no.

In [29]:
# ¿Qué sucede si no puede simplificar?
unique_letters <- function(name) {
  name <- gsub(" ", "", name)
  letters <- strsplit(name, split = "")[[1]]
  unique(letters)
}

In [31]:
lapply(cities, unique_letters)

[[1]]
[1] "N" "e" "w" "Y" "o" "r" "k"

[[2]]
[1] "P" "a" "r" "i" "s"

[[3]]
[1] "L" "o" "n" "d"

[[4]]
[1] "T" "o" "k" "y"

[[5]]
[1] "R" "i" "o" "d" "e" "J" "a" "n" "r"

[[6]]
[1] "C" "a" "p" "e" "T" "o" "w" "n"

In [30]:
sapply(cities, unique_letters) # No puede simplificar y devuelve otra lista

$`New York`
[1] "N" "e" "w" "Y" "o" "r" "k"

$Paris
[1] "P" "a" "r" "i" "s"

$London
[1] "L" "o" "n" "d"

$Tokyo
[1] "T" "o" "k" "y"

$`Rio de Janeiro`
[1] "R" "i" "o" "d" "e" "J" "a" "n" "r"

$`Cape Town`
[1] "C" "a" "p" "e" "T" "o" "w" "n"

## `vapply(X, FUN, FUN.VALUE, …)`

El funcionamiento de `vapply` es análogo a `sapply`, pero en este caso podemos especificar el tipo de retorno de la función mediante el parámetro `FUN.VALUE`.

Es una alternativa segura a `sapply`, ya que tenemos control sobre el retorno de la función.

In [32]:
###################################
# vapply                          #
###################################

# vapply
cities <- c("New York", "Paris", "London", "Tokyo", 
            "Rio de Janeiro", "Cape Town")

vapply(cities, nchar, numeric(1))

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

In [33]:
first_and_last <- function(name) {
  name <- gsub(" ", "", name)
  letters <- strsplit(name, split = "")[[1]]
  c(first = min(letters), last = max(letters))
}

In [34]:
vapply(cities, first_and_last, character(2))

      New York Paris London Tokyo Rio de Janeiro Cape Town
first e        a     d      k     a              a
last  Y        s     o      y     R              w

In [35]:
vapply(cities, first_and_last, character(1)) #Error, ya que estamos devolviendo un vector de longitud 2

ERROR: Error in vapply(cities, first_and_last, character(1)): Los valores deben ser de longitud 1,
pero el resultado FUN(X [[1]]) es la longitud 2

In [36]:
unique_letters <- function(name) {
  name <- gsub(" ", "", name)
  letters <- strsplit(name, split = "")[[1]]
  unique(letters)
}

In [41]:
vapply(cities, unique_letters, character(10) #Error, el restultado es variable

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: vapply(cities, unique_letters, character(10) #Error, el restultado es variable
   ^

## `do.call` (aunque no es de la familia)

La función `do.call` permite llamar a cualquier función de R, pero en lugar de pasar todos los argumentos uno por uno (escribiéndolos), se le pasa una lista con los mismos.

No es una función propia de la familia apply.

In [44]:
###################################
# do.cal                          #
###################################

one <- data.frame(a = c("b", "b", "b", "c"),
                  b = c("B", "A", "D", "A"),
                  x = c(2.49778634403711, -0.594683138631719, 1.14857619580259, 1.14857619580259),
                  y = c(-0.351307445767206, 1.19629936975021, 0.653315728121014, 0.935608419299617))

two <- data.frame(a = c("b", "b", "b", "c"),
                  b = c("B", "A", "D", "A"),
                  x = c(2.49778634403711, -0.594683138631719, 1.14857619580259, 1.14857619580259),
                  y = c(-0.351307445767206, 1.19629936975021, 0.653315728121014, 0.935608419299617))

three <- data.frame(a = c("b", "b", "b", "c"),
                    b = c("B", "A", "D", "A"),
                    x = c(2.49778634403711, -0.594683138631719, 1.14857619580259, 1.14857619580259),
                    y = c(-0.351307445767206, 1.19629936975021, 0.653315728121014, 0.935608419299617))

res1 <- rbind(one, two, three)

allframes <- list(one, two, three)

res2 <- do.call(rbind, allframes)
res2

   a b x          y
1  b B  2.4977863 -0.3513074
2  b A -0.5946831  1.1962994
3  b D  1.1485762  0.6533157
4  c A  1.1485762  0.9356084
5  b B  2.4977863 -0.3513074
6  b A -0.5946831  1.1962994
7  b D  1.1485762  0.6533157
8  c A  1.1485762  0.9356084
9  b B  2.4977863 -0.3513074
10 b A -0.5946831  1.1962994
11 b D  1.1485762  0.6533157
12 c A  1.1485762  0.9356084

## Ejercicio 7

In [ ]:
###################################
# lapply                          #
###################################

# El siguiente vector tiene un listado con nombres de matemáticos y sus años de nacimiento.
# Ojo está todo codificado dentro de la misma cadena de caracteres.
pioneers <- c("GAUSS:1777", "BAYES:1702", "PASCAL:1623", "PEARSON:1857")

# Separa los nombres y años utilizando la función strsplit
split_math <- strsplit(pioneers, ":")

# Aplica la función tolower a todos los elementos de split_math para convertirlos a minúsculas
split_low <- lapply(split_math, tolower)

# Examina el conteido
split_low

# Escribe una función que devuelva el primer elemento de un vector
select_first <- function(x) {
  return(x[1])
}

# Aplica la función select_first a split_low
names <- lapply(split_low, select_first)

# Escribe una función que devuelva el segundo elemento de un vector
select_second <- function(x) {
  return(x[2])
}

# Aplica la función select_second a split_low
years <- lapply(split_low, select_second)

# Utiliza las dos funciones anteriores como funciones anónimas
names <- lapply(split_low, function(x) return(x[1]))
years <- lapply(split_low, function(x) return(x[2]))

# Unifica las dos funciones en una única función que reciba como parámetros el vector y el índice del elemento a devolver
select_el <- function(x, i) {
  return(x[i]);
}

# Usa la nueva función para obtener los mismos resultados que antes
names <- lapply(split_low, select_el, i = 1)
years <- lapply(split_low, select_el, i = 2)

# ¿Qué pasa al ejecutar?
lapply(split_low, function(x) {
  if (nchar(x[1]) > 5) {
    return(NULL)
  } else {
    return(x[2])
  }
})

In [ ]:
###################################
# sapply                          #
###################################

# La siguiente variable contiene muestras de temperatura de cada día de la semana.
temp <- list(monday = c(3, 7, 9, 6, -1),
             tuesday = c(6, 9, 12, 13, 5),
             wednesday = c(4, 8, 3, -1, -3),
             thursday = c(1, 4, 7, 2, -2),
             friday = c(5, 7, 9, 4, 2),
             saturday = c(-3, 5, 8, 9, 4),
             sunday = c(3, 6, 9, 4, 1))

str(temp)

# Utiliza lapply para encontrar la temeperatura mínima de cada día
lapply(temp, min)

# Utiliza sapply para encontrar la temeperatura mínima de cada día
sapply(temp, min)

# Utiliza lapply para encontrar la temeperatura máxima de cada día
lapply(temp, max)

# Utiliza sapply para encontrar la temeperatura máxima de cada día
sapply(temp, max)

# Crea una función extremes_avg que calcula la media entre la mínima del día y la máxima
extremes_avg <- function(x) {
  mean(c(max(x), min(x)))
}

# Aplica la nueva función utilizando sapply
sapply(temp, extremes_avg)

# Aplica la nueva función utilizando lapply
lapply(temp, extremes_avg)

# Crea una función extremes que devuelve un vector con:
#   1. La temperatura mínima
#   2. La temperatura máxima
extremes <- function(x) {
  c(min = min(x), max = max(x))
}

# Aplica la nueva función utilizando sapply
sapply(temp, extremes)

# Aplica la nueva función utilizando lapply
lapply(temp, extremes)

# Crea una función below_zero que devuelve las muestras menores que cero
below_zero <- function(x) {
  x[x < 0]
}

# Aplica la nueva función utilizando sapply y guardarla en freezing_s
freezing_s <- sapply(temp, below_zero)

# Aplica la nueva función utilizando lapply y guardarla en freezing_l
freezing_l <- lapply(temp, below_zero)

# Compara freezing_s y freezing_l con identical
identical(freezing_s, freezing_l)

# Crea una función que devuelva los siguiente: cat("The average temperature is", mean(x), "\n")
print_info <- function(x) {
  cat("The average temperature is", mean(x), "\n")
}

# Aplica la nueva función utilizando lapply
lapply(temp, print_info)

# Aplica la nueva función utilizando sapply
sapply(temp, print_info)

#¿Qué ha pasado? sapply no ha podido simplificar

In [ ]:
###################################
# vapply                          #
###################################

# La siguiente variable contiene muestras de temperatura de cada día de la semana.
temp <- list(monday = c(3, 7, 9, 6, -1),
             tuesday = c(6, 9, 12, 13, 5),
             wednesday = c(4, 8, 3, -1, -3),
             thursday = c(1, 4, 7, 2, -2),
             friday = c(5, 7, 9, 4, 2),
             saturday = c(-3, 5, 8, 9, 4),
             sunday = c(3, 6, 9, 4, 1))

str(temp)

# Crea la función basics que devuelve un vector con nombres con:
#    1. min: temperatura mínima
#    2. mean: temperatura media
#    3. max: temperatura máxima
basics <- function(x) {
  c(min = min(x), mean = mean(x), max = max(x))
}

# Usando vapply aplica la función basics
vapply(temp, basics, numeric(3))

# Con esta nueva definición de la función basics
basics <- function(x) {
  c(min = min(x), mean = mean(x), median = median(x), max = max(x))
}

# Arregla el error:
vapply(temp, basics, numeric(3))
vapply(temp, basics, numeric(4))


# Convierte este sapply en un vapply
sapply(temp, max)
vapply(temp, max, numeric(1))

# Convierte este sapply en un vapply
sapply(temp, function(x, y) { mean(x) > y }, y = 5)
vapply(temp, function(x, y) { mean(x) > y }, y = 5, logical(1))

# Con esta función get_info
get_info <- function(x, y) { 
  if (mean(x) > y) {
    return("Not too cold!")
  } else {
    return("Pretty cold!")
  }
}

# Convierte este sapply en un vapply
sapply(temp, get_info, y = 5)
vapply(temp, get_info, y = 5, character(1))